= f.input :translations_title
= f.input :translations_redirect_url
= f.input :kind
= f.input :position
= f.input :user_id
= f.input :is_visible
= f.input :delta
= f.input :parent
= f.input :lft
= f.input :rgt
= f.input :depth
= f.input :created_at
= f.input :updated_at
= f.input :import_id
= f.input :linked
= f.input :linked_type
= f.input :is_hidden
