= f.input :translations_name
= f.input :translations_address
= f.input :user
= f.input :is_visible
= f.input :lat
= f.input :lng
= f.input :zoom
= f.input :phone
= f.input :url
= f.input :created_at
= f.input :updated_at
= f.input :kitchen_id
= f.input :avgbill
= f.input :picture
