<div class="place" id="list_place_{{id}}" data-id="{{id}}">
  <a class="place_img_sm" href="{{place_url}}">
    <img height="100" src="{{image_path}}" width="140">
  </a>
  <h4>
    <a href="{{place_url}}">{{name}}</a>
    {{#discount}}
        <span class="discount_label">
           {{discount}}%
        </span>
    {{/discount}}
  </h4>
  <div class="rating">
    <div class="stars">
      <div class="stars_overlay"></div>
      <div class="stars_bar" style="{{star_rating}}"></div>
      <div class="stars_bg"></div>
    </div>
    <small>{{review_count}}</small>
  </div>
  <ul class="place_features">
    <li class="location">{{street}}</li>
    <li class="cuisine" title="{{kitchens}}">{{kitchens}}</li>
    <li class="pricing">{{avg_bill_title}}</li>
  </ul>
  <div class="timing">
    {{#timing}}
      {{#time}}
        {{#available}}
            <a href="#">{{time}}</a>
        {{/available}}
        {{^available}}
            <a href="#" class="na">{{time}}</a>
        {{/available}}
      {{/time}}
    {{/timing}}
  </div>
  <div class="special_offers">
    <h5>Special offers:</h5>
    <h5>
      {{#special_offers}}
        <a title="From {{time_start}} to {{time_end}}" href="#">{{title}}</a>
      {{/special_offers}}
    </h5>
  </div>
  {{#is_favourite}}
    <div id="favorites_small_{{id}}" style="display: block;">
        <div class="add_to_favorites i_like_this_place">
            I like this place
        </div>
    </div>
  {{/is_favourite}}
  {{^is_favourite}}
    <div id="favorites_small_{{id}}">
        <div class="add_to_favorites">
            I like this place
        </div>
    </div>
  {{/is_favourite}}

  <div class="clear"></div>
</div>

