<div class="place" data-id="{{id}}" data-lat="{{lat}}" data-lng="{{lng}}" id="place_{{id}}">
<h4>
  <a href="{{place_url}}">{{name}}</a>
</h4>

<div class="rating">
    <div class="stars">
        <div class="stars_overlay"></div>
        <div class="stars_bar" style="{{star_rating}}"></div>
        <div class="stars_bg"></div>
    </div>
      <small>{{review_count}}</small>
</div>
<div class="timing">
    {{#timing}}
      {{#time}}
        {{#available}}
            <a href="#">{{time}}</a>
        {{/available}}
        {{^available}}
            <a href="#" class="na">{{time}}</a>
        {{/available}}
      {{/time}}
    {{/timing}}
</div>
</div>