script#more_template[type="text/x-handlebars-template" xmlns="http://www.w3.org/1999/html"]
  |
    <label class="checkbox"><input data-type="{{type}}" type="checkbox" value="{{id}}">{{name}}</label>
