a#fb_login href=user_omniauth_authorize_path(:facebook)
a#vk_login href=user_omniauth_authorize_path(:vkontakte)
a#gp_login href=user_omniauth_authorize_path(:google)
a#tw_login href=user_omniauth_authorize_path(:twitter)