.preload * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    animation: none !important;

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

input.pretty-slide-checkbox[type=checkbox] {
    border: 1px solid #686868;
    height: 27px;
    width: 79px;
    -webkit-appearance: none;
    -webkit-border-radius: 13px;
    background-image: url(image_path('checkbox-background.png'));
    background-position: -52px 0;
    background-repeat: no-repeat;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 400ms;
    -webkit-animation-name: checkbox-switch-off;
}

input.pretty-slide-checkbox:checked[type=checkbox] {
    background-position: 0 0;
    -webkit-animation-name: checkbox-switch-on;
}


@-webkit-keyframes checkbox-switch-on {
  from {
    background-position: -52px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes checkbox-switch-off {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -52px 0;
  }
}