.simple_form abbr {
  display: none !important;
}
.place .timing {
  overflow: hidden;
}
.place:target, .place.target {
  //background: gray;
}
.place.target:before {
  content: '';
  display: block;
  position: absolute;
  z-index:999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128,128,128, 0.1);
}
#fixed a{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#user_birthday_2i{ width: 120px !important; }
#user_birthday_3i{ width: 60px !important; }
#user_birthday_1i{ width: 80px !important; }

#fixed #language #en { background: image_url('../assets/language.png') 0 4px no-repeat; }
#fixed #language #ru { background: image_url('../assets/language.png') 0 -16px no-repeat; }
#fixed #language #ua { background: image_url('../assets/language.png') 0 -38px no-repeat; }

#map_places {
  float: left;
  width: 510px;
  height: 450px;
  overflow: hidden;
  & img{
    max-width: inherit;
  }
}

#listing {
  height: auto;
  overflow: hidden;
}


#sign_up_page input[type="email"] {
  margin-right: 5px;
  width: 150px;
  height: 18px;
  color: #000;
  font-size: 13px;
  line-height: 13px;
}

#search_form select {
  float: left;
  overflow: hidden;
  margin: 0 10px 0 0;
  width: 103px;
  height: 40px;
  border: none;
  border-right: 10px solid transparent;
  //background: #fff image_url('../assets/arr2.gif') right center no-repeat;
  box-shadow: none;
  font-size: 20px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  //padding: 10px 17px 10px 10px;

}

#search_form select:focus{
  color: #333;
}

#search_form select[name='number_of_people'] {
  float: left;
  margin: 0 10px 0 0;
  width: 120px;
  border: none;
  border-right: 10px solid transparent;
  //background: white url(/assets/../assets/arr2.gif) right center no-repeat;
  box-shadow: none;
  color: #333;
  font-size: 20px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
}
#search_form #title_or_location {
  color: #999;
  line-height: 28px;
  padding-left: 40px;
  background: #fff url('../assets/icons1.png') 10px 10px no-repeat;
}
#index #search_form #title_or_location {
  webkit-box-sizing: border-box;
  khtml-box-sizing:border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  font-size: 24px;
  border-right: 0;
}

[id^=AutocompleteContainter] [class^=autocomplete-] {
  position: relative;
  top: 36px;
  left: 0px;
  font-size: 13px;
  webkit-border-radius: 0 0 3px 3px;
  khtml-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  background: #fff;
  border: 1px solid #dfdeda;
  border-top: none;
  padding: 3px 0 0 0;
  overflow-x: hidden;
  z-index: 0;
}

[id^=AutocompleteContainter] .autocomplete  {
  div  {
    display: block;
    padding: 2px 10px;
    white-space:nowrap;
  }
  .selected {
    cursor: pointer;
    background: #f2f0ea;
  }
}

.span8#new_reserve_center {
  margin-left: 150px;
}

#sign_up_page input[type="tel"] {
  width: 150px;
}

.fixed {
  padding-top: 10px;
  margin:38px 0 0 -310px;
  position: fixed;
  top: 0px;
  left: 50%;
  background: white;
  z-index: 9;
}

.margin_right_place{
  margin-right: 0px !important;
}

//#listing .timing a.unavailable {
//  color: #df5b49;
//  background: #fff;
//  text-decoration: none;
//  min-height: 11px;
//}

#place #review_form textarea.not_empty {
  min-height: 100px;
}
//#place #review_form .criteria .rating:hover {
//  .set_rating {
//    display: block;
//    position: absolute;
//    .bar {
//      left: 0;
//      background-color: rgba(121, 173, 83, 0.5);
//    }
//  }
//}
@import "compass/css3/transition";

.overall_mark .stars_bar {
  @include transition-property(all);
  @include transition-duration(0.5s);
}

#listing .timing a:nth-child(3) {
  &.na {
    color: #dfdeda;
  }
  color: #df5b49;
  width: 56px;
}

//.place div[id^='favorites_small'] .add_to_favorites {
//  position: absolute;
//  bottom: 5px;
//  right: 20px;
//  padding: 0 0 0 17px;
//  background: image_url('icons8.png') 0 4px no-repeat;
//  color: #df5b49;
//  font-weight: bold;
//  font-size: 9px;
//  cursor: pointer;
//}
//
//.place div[id^='favorites_small'] .add_to_favorites:hover, .place div[id^='favorites_small'] .i_like_this_place {
//  color: #666;
//  background: image_url('icons8.png') 0 -16px no-repeat;
//}

//.place div[id^='favorites_small'] .i_like_this_place {
//  font-weight: bold;
//}
//
//.place div[id^='favorites_small'] {
//  display: none;
//}
//
//.place:hover div[id^='favorites_small'], place div[id^='favorites_small'] .i_like_this_place {
//  display: block;
//}

#sortby-list {
  display: none;
}
.dropdown.open #sortby-list {
  display: block;
  left: auto;
  right: 0px;
  top: 0px;
}


#user_dropdown {
  min-width: 100px;
}

#filters > span {
  margin-left: 5px;
  text-transform: uppercase;
}
#filters span + span {
    margin-left: 4px;
  }

ul.sortby {
  padding: 0 15px 0 0;
}

#custom-tweet-button {
  overflow: hidden;
  //background-color: #4B67A1;
  position: absolute;
  margin-left: 225px;
  margin-top: 2px;
  * {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    opacity: 0;
  }
  a {
    display: block;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
  }
}

// .infoBox .place_img_sm {
//   display: block;
//   float: left;
//   width: 140px;
//   height: 100px;
// }

.infoBox .place_features {
  width: auto;

}
.infoBox > img {
  z-index: 999;
}

div.fixed_ajax_loader {
  display: block;
  position: fixed;
  background: rgba(128, 128, 128, 0.8)  image_url('ajax_loader_transp.gif') center center no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  strong {
    color: white;
    display: block;
    text-align: center;
    line-height: 225px;
    font-size: 25px;
    font-weight: bold;
  }
}


#food_teaser .teaser_heading,
#food_teaser .arrows div {
  z-index: 9;
}

#food_teaser #search_form {
  z-index: 10;
}

#food_teaser .slideWrapper .caption {
  display: inline-block;
  bottom: -500px;
}

.slideWrapper {
  height: auto;
  position: relative;

  [id^='slide'] {
    z-index: 1;
    position: relative;
  }
  .overlay {
    z-index: 2;
    position: absolute;
    display: block;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .current {
    z-index: 6;
  }
  .upcoming {
    z-index: 5;
    .caption {
      opacity: 0 !important;
    }
  }
}

.infoBox .arrow {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-top-color: #fff;
  border-width: 10px 10px 0;
}

.place.target {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F8F7F4));
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F8F7F4 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #F8F7F4 100%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F8F7F4 100%);
}

#tol_c {
  position: relative;
}

#search_form label[for='number_of_people'] nobr {
  display: none;
}

.overall_mark .rating_big {
  width: 175px;
}

.overall_mark label {
  width: auto !important;
  padding-right: 10px;
  margin-bottom: 0
}

.overall_mark .span3{width:auto !important;}
.settings input[type="text"] {border-radius:3px!important;margin-right:4px}
#multi-share-button {float: right}

.alert {
  width: 890px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.btn_sm {
  background: #df5b49 !important;
  border: 0 !important;
  border-radius: 0 3px 3px 0 !important;
  color: #fff !important;
  font-family: 'univers_condensedmedium', 'Arial Narrow', sans-serif !important;
  font-size: 18px !important;
  height: 26px !important;
  line-height:16px !important;
  margin:0 !important;
  padding:0 10px !important;
  margin-left:-1px !important;
}

.get {
  background: #79ad53 !important;
  color: #fff !important;
  border-color: #79ad53 !important;
}
.top-right{
  z-index:1000;
  max-width:300px;
  top:45px !important;
}

/****** Partners page ******/

#partners h1, #howitworks h1 {
  font-family: 'univers_condensedmedium', 'Arial Narrow', sans-serif;
  font-size: 30px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #333;
  letter-spacing: -0.04em;
  font-weight: normal;
}

#partners #how_123, #partners #how_123 li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
}

#partners #how_123 {
  width: 600px;
  display: block;
  margin: 0 0 30px 0;
}

#partners #how_123 li {
  display: block;
  float: left;
  width: 184px;
  text-align: center;
  font-size: 12px;
  margin-right: 14px;
}

#partners #how_123 li img {
  margin: 0 10px 5px 0;
}

#partners #benefits {
  display: block;
  padding: 10px 0 30px 0;
}

#partners #benefits, #howitworks #features li {
  display: block;
  padding: 0 0 0 20px;
  background: url('../img/check1.png') 0 3px no-repeat;
  margin: 0 0 5px 0;
}

#partners #logos img {
  width: 614px;
  max-width: 614px;
  height: 451px;
  margin-left: -18px;
}

#partners #logos h2 {
  display: block;
  text-align: center;
}

.promo {
  margin-bottom: 20px;
}

.promo .c {
  padding: 10px;
}

.promo h3 {
  font-size: 24px;
  border-bottom: 1px solid #f2f0ea;
  line-height: 24px;
}

.promo h3 a {
  display: block;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-weight: bold;
}

.promo label {
  float: left;
  width: 55px;
  font-size: 13px;
}

.promo address {
  font-weight: bold;
  margin-bottom: 5px;
}

.promo address small {
  font-size: 10px;
  font-weight: normal;
  color: #666;
}

#contact_us {
  font-size: 13px;
}

#try form {
  padding: 10px 10px 0 10px;
  margin: 0;
  display: block;
}

#try form input[type='text'], #try form input[type='email'] {
  width: 240px;
  margin-bottom: 4px;
}

#try form input[type='submit'] {
  margin: 0 0 10px 0;
}

#try .add-on {
  background-image: url('../img/partners/app_icons.png');
  background-repeat: no-repeat;
}

#try .try_name { background-position: 6px 8px; }
#try .try_phone { background-position: 6px -32px; }
#try .try_email { background-position: 6px -72px; }
#try .try_place { background-position: 6px -111px; }
#try .try_city { background-position: 6px -152px; }

/***** How It Works page *****/

#stepbystep h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 1px solid #f2f0ea;
  width: 620px;
  margin-left: -20px;
}

#stepbystep h2 b, #stepbystep h3 b {
  color: #2489c8;
}

#stepbystep h3 {
  font-size: 30px;
  margin: 0 0 5px 0;
  padding: 0;
  font-family: 'univers_condensedmedium', 'Arial Narrow', sans-serif;
  font-weight: normal;
  letter-spacing: -0.03em;
}

#stepbystep ul {
  display: block;
  margin: 20px 0 0 0;
}

#stepbystep li {
  display: block;
  min-height: 214px;
  width: 365px;
  margin-left: -20px;
}


#stepbystep li.left {
  padding-left: 255px;
}

#stepbystep li.left h3 {
  margin-left: -30px;
}

#stepbystep li.right {
  text-align: right;
  padding-right: 255px;
}

#stepbystep li.right h3 {
  margin-right: -20px;
}

#stepbystep #step1 {
  background: url('../assets/howitworks/bg1.jpg') no-repeat;
  padding-top: 20px;
}

#stepbystep #step2 {
  background: url('../assets/howitworks/bg2.jpg') no-repeat;
  padding-top: 30px;
}

#stepbystep #step3 {
  background: url('../assets/howitworks/bg3.jpg') no-repeat;
  padding-top: 20px;
}

#stepbystep #step4 {
  background: url('../assets/howitworks/bg4.jpg') no-repeat;
  padding-top: 25px;
}

#stepbystep #step5 {
  background: url('../assets/howitworks/bg5.jpg') no-repeat;
  padding-top: 10px;
}

#stepbystep #step6 {
  text-align: center;
  width: 620px;
  padding-top: 10px;
  min-height: 60px;
}

#stepbystep .signup_teaser {
  color: #666;
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 15px 0;
}

#easy_123 {
}

#easy_123 li {
  margin: 0 0 20px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#easy_123 li img {
  margin: 0 0 8px 0;
}

input[type='submit']:hover, .topreserve_btn:hover {
  background: #08C;
}

.topreserve_btn {
  color: #fff !important;
  text-decoration: none !important;
  text-align: center;
  margin: 0;
  line-height: 30px;
}