.simple_form abbr {
  display: none !important;
}

.place:target, .place.target {
  //background: gray;
}
.place.target:before {
  content: '';
  display: block;
  position: absolute;
  z-index:999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128,128,128, 0.5);
}
/*#fixed ul li {
  display: none;
}*/
#user_birthday_2i{ width: 120px !important; }
#user_birthday_3i{ width: 60px !important; }
#user_birthday_1i{ width: 80px !important; }

#fixed #language #en { background: image_url('../assets/language.png') 0 4px no-repeat; }
#fixed #language #ru { background: image_url('../assets/language.png') 0 -16px no-repeat; }
#fixed #language #ua { background: image_url('../assets/language.png') 0 -38px no-repeat; }

#map_places {
  float: left;
  width: 510px;
  height: 450px;
  overflow: hidden;
  & img{
    max-width: inherit;
  }
}

#sign_up_page input[type="email"] {
  margin-right: 5px;
  width: 150px;
  height: 18px;
  color: #000;
  font-size: 13px;
  line-height: 13px;
}

#search_form select {
  float: left;
  overflow: hidden;
  margin: 0 10px 0 0;
  width: 103px;
  height: 40px;
  border: none;
  border-right: 10px solid transparent;
  background: #fff image_url('../assets/arr2.gif') right center no-repeat;
  box-shadow: none;
  font-size: 20px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  //padding: 10px 17px 10px 10px;

}

#search_form select:focus{
  color: #333;
}

#search_form select[name='number_of_people'] {
  float: left;
  margin: 0 10px 0 0;
  width: 80px;
  border: none;
  border-right: 10px solid transparent;
  background: white url(/assets/../assets/arr2.gif) right center no-repeat;
  box-shadow: none;
  color: #333;
  font-size: 20px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
}



