.explorer.central_module {
  padding-top:10px;
}
div.places {
  width:620px;
  height:320px;
  padding-bottom:20px;
  float:left;

  .bdy {
    height:284px;
    width:620px;
    //background: url("/assets/explorer/map_pins.png") -81px -107px no-repeat;
    .recomed_popup {
      position: relative;
      z-index: 1000;
      left:359px;
      top:10px;
      width:250px;
      height: 180px;
      background: white;
      @include single-box-shadow(#aba89e);
      table {
       /* padding-top:10px;  */
        margin:0px 15px 15px 15px;
        width:220px;
            td {
              border-top:1px dotted #CCCCCC;
              padding-bottom:10px;
              padding-top:8px;
              .header_blue {
                padding-bottom: 5px;
                display: inline-block;
                font-size: 12px;
              }
            }
            td, th {
              vertical-align: baseline !important;
            }
            th {
              padding-bottom:8px;
              padding-top:10px;
            }
            th.al_right, td.al_right {
              text-align: right;
            }
        }
     }
  }
}
.black_module {
  height:35px;
  @include gradient(#2d2d2d, #424242);
  position:relative;
  z-index:10;
  h1 {
    color:white;
    float:left;
    font-size: 18px;
    font-family: Georgia;
    padding-top:8px;
    padding-left:10px;
    width:142px;
  }
  .buttons {
    .button_gray {
      float:left;
      margin-left:5px;
      margin-top:8px;
    }
    .to_big_map {
      float:right;
      padding-right:8px;
      margin-top: 8px;
    }
  }
}

div.advert_module {
  width:300px;
  height:320px;
  float:left;
  .bdy {
    height:300px;
    background: #333;
  }
  .ftr {
    font-size:10px;
    color:#333;
    background: #eee;
    height: 20px;
    text-align: center;
    letter-spacing: 1px;
    span {
      padding-top: 5px;
      display: block;
    }
  }
}
.explorer.central_module div.advert_module {
  margin-left:20px;
}

.border {
  clear: both;
  border-top: 2px solid #CCCCCC;
}

.entertain_module {
  padding-bottom:15px;
  padding-top:10px;
  .header_grey {
    padding-bottom:5px;
    padding-top:2px;
  }
  table {
    a {
      color: #0086DF;
      font-size: 11px;
      span {
        font-size:10px;
        color:#999;
        font-weight: bold;
        padding-left:1px;
      }
    }
    td {
      width:160px;
      height:22px;
      padding-right: 8px;
    }

    .restor { background: url("/assets/explorer/icons/restor.png") no-repeat; top:7px;left:-1px;}
    .hold_events { background: url("/assets/explorer/icons/hold_events.png") no-repeat; top:8px;}
    .auto { background: url("/assets/explorer/icons/auto.png") no-repeat;  top:11px;}
    .food_deliv { background: url("/assets/explorer/icons/food_deliv.png") no-repeat; top:9px; }
    .night_life { background: url("/assets/explorer/icons/night_life.png") no-repeat; top:7px;}
    .beauty_health { background: url("/assets/explorer/icons/beauty_health.png") no-repeat; top:8px; }
    .health_med { background: url("/assets/explorer/icons/health_med.png") no-repeat;  top:9px;}
    .gambling { background: url("/assets/explorer/icons/gambling.png") no-repeat;  top:9px;}
    .food { background: url("/assets/explorer/icons/food.png") no-repeat;  top:9px;}
    .art { background: url("/assets/explorer/icons/art.png") no-repeat;  top:9px;}
    .home_animals { background: url("/assets/explorer/icons/home_animals.png") no-repeat;  top:11px;}
    .parents_childr { background: url("/assets/explorer/icons/parents_childr.png") no-repeat;  top:8px;left:-1px;}
    .purchases { background: url("/assets/explorer/icons/purchases.png") no-repeat;  top:11px;left:1px;}
    .sport_events { background: url("/assets/explorer/icons/sport_events.png") no-repeat;  top:9px;}
    .educat { background: url("/assets/explorer/icons/educat.png") no-repeat;top:8px;left:-1px; }
    .real_estate { background: url("/assets/explorer/icons/real_estate.png") no-repeat;  top:11px;}
    .hotels_tourism { background: url("/assets/explorer/icons/hotels_tourism.png") no-repeat; top:10px; }
    .local_services { background: url("/assets/explorer/icons/local_services.png") no-repeat;  top:9px;}
    .finaces { background: url("/assets/explorer/icons/finances.png") no-repeat;  top:10px;}
    .more { background: url("/assets/explorer/icons/more.png") no-repeat;  top:12px;left:6px;}
    .icon {
      width:16px;
      height: 19px;
      display: inline-block;
      position: relative;
    }


  }
}

.entertain_block {
  width:220px;
  float:left;
  margin-left:20px;
  .header_grey {
    padding-bottom:15px;
  }
  img {
    display: inline-block;
    height: 75px;
    vertical-align: top;
    width: 100px;
  }
  .description {
    display: inline-block;
    padding-left: 5px;
    margin-top:-2px;
    a  {
      color: #0086df;
      font-size: 14px;
      display: block;
      padding-bottom:5px;
      width:105px;
    }
    .beg_time {
      width:111px;
      padding-top:3px;
    }
  }
  .other_facils {
    margin-top:10px;
    table {
      width:100%;
      td {
        border-bottom: 1px dotted #ccc;
        height: 45px;
        a {
          font-size: 12px;
        }
        .text_grey {
          padding-top:5px;
        }
      }
      td.al_right {
        vertical-align: top;
        padding-top:5px;
        text-align: right;
      }
      tr:first-child {
        td {
          border-top: 1px dotted #ccc;
        }
      }

    }
    .footer_ref {
      padding-top:8px;
      padding-bottom:25px;
      float:right;
      color:#999999;
      font-size: 10px;
      font-weight: bold;
      padding-right:6px;
      cursor: pointer;
    }
    .arrow_right {
      float:right;
      background: url("/assets/explorer/arrow_left.png") 0px 11px no-repeat;
      height:10px;
      width:4px;
      padding-top:9px;
    }
  }
}

.middle_module {
  float: left;
  width:700px;
  padding-top:10px;

  .three_blocks {
    margin-top:5px;

    .entertain_block:first-child {
      margin-left:0px;
    }
  }
.three_blocks.bottom {
  margin-top:30px;
  height: 370px;
}
}
.right_module {
  margin-left:20px;
  float: left;
  width:120px;
  .sidebar {
    margin-top:20px;
  }
  .additions {
    margin-top:20px;
  }
  .sidebar.tape_menu {
    width:220px;
  }
}

.four_rect {
  margin-top:60px;
  padding-bottom:109px;
  clear:both;
  .round_rect {
    width:218px;
    height:77px;
    border: 1px solid #ccc;
    @include rounded_corners(10px);
    float:left;
    z-index: 10;
    position: relative;

  }
  .round_rect {
    margin-left: 20px;
  }

  .round_rect:first-child {
    margin-left: 0;
  }
}
