@font-face{
  font-family: 'univers_condensedmedium';
  src: url('/univers_condensedmedium.eot?#iefix') format('embedded-opentype'),
  url('/univers_condensedmedium.woff') format('woff'),
  url('/univers_condensedmedium.ttf') format('truetype');
}

html, body {height: 100%; margin: 0; padding: 0;}

body {
  background: #fff;
}





/******** COMMON STUFF ********/

#wrapper {
  background: #f2f0ea;
  padding: 0 0 40px 0;
}

a, a:hover {
  color: #df5b49;
}

.content {
  width: 940px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}

#breadcrumbs {
  margin: -10px 0 10px 0;
  font-size: 14px;
  line-height: 24px;
}

#breadcrumbs div {
  display: inline-block;
}

#breadcrumbs .content {
  display: block;
}

#breadcrumbs h1 {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  padding: 0;
}

input[type='submit'] {
  background: #df5b49;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
  margin: 15px 0 0 0;
  display: inline-block;
  height: 40px;
}

input[type='submit']:hover {
  background: #79ad53;
}






/****** HEADER *******/

#fixed {
  background: #333;
  height: 25px;
  padding: 5px 0 0 0;
  font-size: 11px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#fixed ul {
  display: block;
  float: left;
  padding: 5px;
  margin: -5px 0 0 -5px;
  color: #ccc;
  height: 19px;
  overflow: hidden;
}

#fixed #language li {
  padding: 0 0 0 20px;
}

#fixed ul li {
	display: block;
}

#fixed ul li:hover a {
  color: #fff;
  text-decoration: none;
}

#fixed ul:hover {
  background: rgba(0,0,0,0.8);
  border-radius: 0 0 3px 3px;
  height: auto;
}

#fixed ul:hover li {
	display: block!important;
}

#fixed ul:hover li.active a {
  background:none;
}


#fixed ul li a {
  color: #ccc;
}

#fixed ul li a:hover {
  color: #fff !important;
}

#fixed ul li.active {
  display: block;
  cursor: default;
}

#fixed ul li.active a {
  background: image_url('../assets/arr1.gif') right 5px no-repeat;
  padding: 0 10px 0 0;
  color: #fff;
}

#fixed #language #eng { background: image_url('../assets/language.png') 0 4px no-repeat; }
#fixed #language #rus { background: image_url('../assets/language.png') 0 -16px no-repeat; }
#fixed #language #ukr { background: image_url('../assets/language.png') 0 -38px no-repeat; }

#fixed #location { margin: -5px 0 0 10px; }

#fixed #header_links a {
  color: #ccc;
  float: left;
  margin: 0 0 0 15px;
}

#fixed #user_block {
  float: right;
  padding-right: 8px;
  background: image_url('../assets/arr1.gif') right 9px no-repeat;
  position: relative;
  z-index: 50;
}

#fixed #user_block a.active {
  color: #ccc;
  font-weight: bold;
}

#fixed #user_block #user_dropdown {
  position: absolute;
  right: 0;
  float: none;
  z-index: 5;
  min-width: 90px;
  margin-top: -6px;
}

#fixed #user_block assets {
  background: #f2f0ea;
  border-radius: 3px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
}



#header {
  margin: 0 0 20px 0;
  height: 69px;
  border-bottom: 1px solid #d2d1ce;
  background: #fff;
  padding: 30px 0 0 0;
}

#header #logo {
  display: block;
  margin: 16px 0 0 0;
  float: left;
  width: 154px;
}

#header .by_topclub {
  font-size: 9px;
  color: #df5b49;
  text-decoration: none;
  float: right;
  line-height: 9px;
  margin-top: 2px;
  letter-spacing: 1px;
  font-weight: bold;
}

#header .few-words {
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  color: #666;
  font-size: 24px;
  float: right;
  margin-top: 30px;
}


#header .sign_in, #header .sign_up {
  float: right;
  margin: 16px 0 0 10px;
  font-weight: bold;
  font-size: 13px;
}

#header .sign_in {
  color: #666;
  padding: 5px 10px 7px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-decoration: none;
}

#header .sign_in:hover {
  color: #79ad53;
}

#header .sign_up {
  color: #fff;
  padding: 6px 11px 8px 11px;
  border-radius: 3px;
  text-decoration: none;
  background: #666;
}

#header .sign_up:hover {
  background: #79ad53;
}



#header #top_points {
  display: block;
  float: right;
  border: 1px solid #d2d1ce;
  background: #f2f1eb image_url('../assets/grad3.gif') top repeat-x;
  padding: 8px 6px 6px 6px;
  margin-top: 16px;
  border-radius: 3px;
}

#header #top_points:hover {
  border: 1px solid #df5b49;
}

#header #top_points span {
  font-size: 9px;
  text-transform: uppercase;
  line-height: 9px;
  color: #000;
}

#header #top_points span.right {
  float: left;
}

#header #top_points span.left {
  text-align: right;
  float: left;
}

#header #top_points strong {
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  font-size: 32px;
  float: left;
  display: inline-block;
  padding: 0 4px;
}





/********** SIGN UP & SIGN IN *********/

.heading {
  background: #dfdeda;
  border-radius: 3px;
  margin-bottom: -3px;
  padding: 10px 20px;
  position: relative;
  z-index: 2;
}

.heading h1 {
  color: #333;
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 24px;
  display: inline;
}

#complete, #confirmed {
  background: #79ad53;
  font-size: 18px;
}

#complete h1, #confirmed h1 {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  display: block;
  margin-bottom: 7px;
}

.complete textarea {
  width: 324px;
  height: 100px;
}

.complete input[type='submit'] {
  margin: 10px 0 0 100px;
}

.page_content {
  background: #fff;
  border-radius: 0 0 3px 3px;
  padding: 10px 20px 20px 20px;
  position: relative;
}

.page_content h2 {
  font-size: 24px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  margin: 0 0 0 0;
  padding: 0;
  font-weight: normal;
}

#sign_up_page select {
  width: 160px;
  margin-right: 5px;
}

#sign_up_page form {
  margin: 15px 0 0 0;
}

#sign_up_page select[name='month'] { width: 120px; }
#sign_up_page select[name='day'] { width: 60px; }
#sign_up_page select[name='year'] { width: 80px; }

#sign_up_page input[type="text"], #sign_up_page input[type="password"] {
  font-size: 13px;
  color: #000;
  width: 150px;
  height: 18px;
  line-height: 13px;
  margin-right: 5px;
}

#sign_up_page label {
  width: 100px;
  float: left;
  line-height: 28px;
  font-size: 14px;
}

#sign_up_page label b {
  color: #df5b49;
}

#sign_up_page input[type='file'] {
  font-size: 11px;
  line-height: 18px;
  margin: 5px 0 0 0;
}

#sign_up_page p {
  margin: 10px 0 5px 0;
  padding: 0;
  font-size: 13px;
}

#sign_up_page label.checkbox {
  line-height: 20px;
  font-size: 12px;
  margin: 5px 0 0 0;
}

#sign_up_page .forgot_password {
  font-size: 12px;
  margin: 0 0 0 10px;
}


#social_login h3 {
  font-size: 24px;
  color: 333;
  margin: 0 0 15px 0;
  padding: 0;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  line-height: 24px;
  font-weight: normal;
}

#social_login #fb_login, #social_login #vk_login, #social_login #tw_login, #social_login #gp_login {
  width: 220px;
  height: 37px;
  display: block;
  margin: 0 0 10px 0;
  background-image: image_url('../assets/social_login.png');
}

#vk_login { background-position: 0 -47px; }
#gp_login { background-position: 0 -94px; }
#tw_login { background-position: 0 -141px; }

#social_login a:hover {
  opacity: 0.9;
}




/******* SEARCH RESULTS ********/

#search_form {
  background: #dfdeda;
  border-radius: 3px;
  position: relative;
  z-index: 2;
  margin-bottom: -3px;
  padding: 10px 20px;
}

#search_form h1, #search_form span.header {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 24px;
}

#search_form form {
  margin: 0;
}

#search_form input[type='text'] {
  font-size: 20px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  border: none;
  box-shadow: none;
  padding: 10px 17px 10px 10px;
  float: left;
  width: 100px;
  margin: 0 10px 0 0;
  background: #fff image_url('../assets/arr2.gif') right center no-repeat;
  border-right: 10px solid transparent;
}

#search_form input[type='text']:focus {
  color: #333;
}

#search_form input[name='title_or_location'] {
  color: #999;
  line-height: 28px;
  padding-left: 40px;
  background: #fff image_url('../assets/icons1.png') 10px 10px no-repeat;
}

#search_form input[name='title_or_location'] { width: 133px; }
#search_form input[name='reserve_date'] { width: 81px; }
#search_form input[name='reserve_time'] { width: 68px; }
#search_form input[name='number_of_people'] { width: 30px; }

#search_form label {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  text-indent: 2000px;
  overflow: hidden;
  background-image: image_url('../assets/icons1.png');
  background-repeat: no-repeat;
}

#search_form label[for='reserve_date'] { background-position: 8px -32px; }
#search_form label[for='reserve_time'] { background-position: 10px -76px; }
#search_form label[for='number_of_people'] { background-position: 12px -119px; }

#search_form input[type='submit'] {
  float: left;
  margin-top: 0;
}


#search_results #view_switch {
  position: absolute;
  bottom: 0;
  right: 20px;
}

#view_switch a {
  text-indent: 100px;
  overflow: hidden;
  display: block;
  width: 46px;
  height: 42px;
  float: left;
  background-image: image_url('../assets/icons3.png');
  background-repeat: no-repeat;
}

#view_switch a.current {
  background-color: #fff;
  border-radius: 3px 3px 0 0;
  cursor: default;
}

#view_switch a#grid_view { background-position: 13px -32px; }
#view_switch a#grid_view.current { background-position: 13px 8px; }

#view_switch a#map_view { background-position: -34px -32px; }
#view_switch a#map_view.current { background-position: -34px 8px; }



#refine {
  margin: 13px 0 0 0;
  padding: 10px 0;
  background: #fff;
  border-radius: 3px;
  width: 150px;
}

#refine h2 {
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  font-size: 18px;
  color: #333;
  margin: 0 0 0 20px;
  padding: 0;
  line-height: 18px;
  font-weight: normal;
}

#refine h4 {
  color: #333;
  font-size: 13px;
  margin: 10px 0 5px 0;
  padding: 5px 0 0 20px;
  border-top: 1px solid #f2f0ea;
}

#refine .checkbox {
  font-size: 11px;
  margin-bottom: 0;
  margin-left: 20px;
}

#refine .more {
  margin: 5px 0 0 20px;
  font-size: 11px;
}

#refine label small, #refine label b {
  font-size: 9px;
  color: #df5b49;
}

#mapcontainer {
  z-index: 4;
  zoom: 1;
  width: 780px;
  position: relative;
}

#mapcontainer.bottom{
  position: absolute;
  bottom: 10px;
}

#mapcontainer.fixed {
  position: fixed;
  top: 35px;
}

#listing {
  background: #fff;
  border-radius: 3px;
  padding-top: 25px;
  position: relative;
  height: 477px;
}

#listing h3 {
  font-size: 16px;
  margin: 0;
  padding: 0 20px 10px 20px;
  line-height: 16px;
  border-bottom: 1px solid #f2f0ea;
  display: block;
}

.place {
  padding: 10px 20px;
  border-bottom: 1px solid #f2f0ea;
  font-size: 11px;
  position: relative;
}

.place assets {
  float: left;
  margin: 0 10px 0 0;
  border: none;
  width: 140px;
  height: 100px;
}

.place h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  width: 270px;
}

.place .rating, #place .rating {
  margin: 0 0 10px 0;
}

.rating .stars {
  width: 60px;
  height: 11px;
  margin: 0 5px 0 0;
  position: relative;
  overflow: hidden;
  line-height: 11px;
  float: left;
}

.rating .stars .stars_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 60px;
  height: 11px;
  background: image_url('rating.png');
}

.rating .stars .stars_bar {
  position: absolute;
  width: 60px;
  height: 11px;
  background: 0;
  left: 0;
  top: 0;
  z-index: 1;
  margin-left: -60px;
  background: #79ad53;
}

.rating small {
  display: block;
  line-height: 11px;
}

.rating_big .stars, .rating_big .stars .stars_bar {
  width: 90px;
  height: 17px;
}

.rating_big .stars .stars_bar {
  margin-left: -90px;
}

.rating_big .stars .stars_overlay {
  background: image_url('rating_big.png');
  width: 90px;
  height: 17px;
  position: relative;
}

.rating_big .stars .stars_overlay span {
  position: absolute;
  left: 100px;
  top: 0;
}


.place .place_features {
  float: left;
  width: 300px;
}

.place_features li {
  display: block;
  padding: 0 0 0 20px;
}

.place_features li.location { background: image_url('../assets/icons2.png') 0 1px no-repeat; }
.place_features li.cuisine { background: image_url('../assets/icons2.png') 0 -19px no-repeat; }
.place_features li.pricing { background: image_url('../assets/icons2.png') 0 -40px no-repeat; }


#listing .timing {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 270px;
}

#listing .timing a, .dash_block .btns a {
  display: block;
  margin: 0 0 0 5px;
  padding: 5px 0;
  width: 36px;
  background: #dfdeda image_url('../assets/grad1.gif') top left repeat-x;
  border: 1px solid #dfdeda;
  border-radius: 3px;
  color: #000;
  float: right;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

#listing .timing a.bold {
  color: #df5b49;
  width: 56px;
}

#listing .timing a:hover, .dash_block .btns a:hover {
  color: #df5b49;
  background: #fff;
  text-decoration: none;
}

#listing .special_offers {
  font-weight: bold;
  font-size: 11px;
  float: right;
  width: 230px;
  line-height: 16px;
  margin: -10px 0 0 0;
}

#listing .special_offers h5 {
  font-size: 11px;
  margin: 0;
  padding: 0;
  color: #333;
}

#listing .special_offers a {
  display: block;
  line-height: 18px;
}




#listing .paginate {
  padding: 20px 15px;
  text-align: right;
  font-weight: bold;
  cursor: default;
}

#listing .paginate a {
  padding: 0 5px;
}

#listing .paginate .current {
  background: #df5b49;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  padding: 0 5px;
}


#listing #map {
  float: left;
  width: 510px;
  height: 450px;
  overflow: hidden;
}

#listing #map_details {
  float: right;
  width: 270px;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#listing #map_details .place {
  padding: 10px;
}

#listing #map_details .place .timing {
  position: relative;
  left: 0;
  top: 0;
}

#listing #map_details .place .timing a {
  float: left;
  margin: 0 5px 0 0;
}








/*********** PLACE **********/

#place .page_content {
  padding-top: 23px;
}


.place_img {
  width: 240px;
  height: 180px;
  background: #f2f0ea;
  border: none;
  float: left;
  margin: 0 10px 0 0;
}

.place_assets {
  width: 240px;
  height: 180px;
  background: #f2f0ea;
  border: none;
  float: left;
  margin: 0 10px 0 0;
}

#place h1 {
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 5px 0;
  padding: 0;
  display: inline-block;
}

#place #favorites {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 9px;
  line-height: 9px;
  text-align: center;
  font-weight: bold;
  min-width: 40px;
}

#place #favorites div {
  padding: 25px 0 0 0;
}

#place #favorites .add_to_favorites {
  color: #df5b49;
  background: image_url('../assets/icons6.gif') center top no-repeat;
  cursor: pointer;
}

#place #favorites .add_to_favorites:hover, #place #favorites .i_like_this_place {
  color: #666;
  background: image_url('../assets/icons6.gif') center -50px no-repeat;
}

#place .rating small {
  font-size: 11px;
  line-height: 18px;
}

#place .place_features {
  float: left;
  color: #666;
  font-size: 13px;
  margin: 5px 0 0 0;
}

#place .place_features li {
  margin: 0 0 3px 0;
}

#place #place_links {
  display: block;
  float: left;
  font-size: 11px;
  margin: 5px 0 0 0;
  font-weight: bold;
}

#place #place_links a {
  margin: 0 10px 0 0;
}

#place .place_desc {
  font-size: 13px;
  line-height: 21px;
  color: #333;
  margin: 20px 0;
}

#place .place_desc h5 {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #666;
}

#place .place_desc .desc_expand {
  display: inline-block;
  padding-right: 8px;
  background: image_url('../assets/arr3.gif') right 10px no-repeat;
  margin: 5px 0 0 0;
  font-weight: bold;
  font-size: 11px;
}

#place #search_form {
  padding: 10px 10px 5px 15px;
}

#place #search_form .header_special {
  display: inline-block;
  color: #df5b49;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 1px 0 #fff;
  margin: 0 0 0 5px;
}

#place #search_form form {
  margin-top: 5px;
}


#place #reviews {
  margin: 50px 0 20px 0;
}

#place #reviews h6 {
  font-size: 16px;
  color: #666;
  margin: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #d2d1ce;
}

#place #reviews .sortby {
  color: #666;
  display: block;
  float: right;
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  padding: 4px 10px 5px 6px;
  cursor: pointer;
  text-shadow: 0 1px 0 #fff;
  background: #f4f2ed image_url('../assets/arr4.gif') right 9px no-repeat;
  border-right: 7px solid #f4f2ed;
  border-radius: 3px;
  margin-top: -32px;
}

#place #reviews .review {
  padding: 15px 0;
  border-bottom: 1px solid #f2f0ea;
}

#place #reviews .review .user_pic {
  border-radius: 3px;
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 10px 0 0;
  background: #f2f0ea;
}

#place #reviews .review .review_content {
  display: table-cell;
  font-size: 12px;
  line-height: 18px;
}

#place #reviews .review .review_content .user_link {
  font-weight: bold;
  font-size: 13px;
}

#place #reviews .review .review_content small {
  font-size: 11px;
  color: #999;
}

#place #reviews .review .rating {
  display: inline-block;
  margin: 0 0 -1px 5px;
}

#place #reviews .review span {
  margin: 5px 0 0 0;
  display: inline-block;
}

#place #reviews .review a.read_more {
  font-size: 11px;
  display: inline-block;
}

#place #reviews .review .review_vote a {
  display: inline-block;
  border: 1px solid #d2d1ce;
  padding: 3px 6px 3px 17px;
  color: #000;
  font-size: 11px;
  text-decoration: none;
  border-radius: 3px;
  line-height: 11px;
  background: #f2f0ea;
  margin: 10px 3px 0 0;
}

#place #reviews .review .review_vote a {
  background-image: image_url('../assets/icons4.gif');
  background-repeat: no-repeat;
}

#place #reviews .review .review_vote a:hover {
  background-color: #fff;
}

#place #reviews .review .review_vote a strong { margin-left: 3px; }

#place #reviews .review .review_vote a.helpful { background-position: 4px 5px; }
#place #reviews .review .review_vote a.unhelpful { background-position: 4px -15px; }

#place #reviews .review .review_vote a.helpful strong { color: #79ad53 ;}
#place #reviews .review .review_vote a.unhelpful strong { color: #df5b49 ;}

.all {
  float: right;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 0 0 0;
}


#sidebar {
  border-radius: 3px;
  background: #fff;
}

#sidebar.confirmed ul li {
  padding-left: 33px;
  background: image_url('../assets/icons5.gif') no-repeat;
}

#sidebar.confirmed ul li.view { background-position: 10px 10px; }
#sidebar.confirmed ul li.print { background-position: 10px -25px; }
#sidebar.confirmed ul li.map { background-position: 11px -59px; }
#sidebar.confirmed ul li.invite { background-position: 11px -94px; }

#sidebar.specials {
  margin-bottom: 20px;;
}

#sidebar h3 {
  color: #333;
  font-size: 18px;
  line-height: 18px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  margin: 0;
  padding: 10px 10px 5px 10px;
  font-weight: normal;
}

#sidebar ul li {
  display: block;
  border-bottom: 1px solid #f2f0ea;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 13px;
}

#sidebar p {
  padding: 10px;
  margin: 0;
}

#sidebar #map {
  border-radius: 3px;
}


/********** USER ********/

#dashboard {
  border-radius: 3px;
  width: 740px;
}

#user #sidebar h3 {
  display: block;
  border-bottom: 1px solid #f2f0ea;
  padding-bottom: 8px;
  font-weight: normal;
}

#user #sidebar ul li strong {
  display: inline-block;
  background: #df5b49;
  padding: 0px 5px;
  color: #fff;
  border-radius: 3px;
  margin-left: 3px;
}

#user #dashboard h1 {
  font-size: 18px;
  line-height: 24px;
  margin: -10px 0 10px -20px;
  padding: 6px 20px;
  border-bottom: 1px solid #f2f0ea;
  width: 740px;
}

#user .user_pic_big {
  width: 128px;
  height: 128px;
  border-radius: 3px;
  background: #f2f0ea;
  margin: 0 10px 5px 0;
  float: left;
}

#user #status {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  height: 19px;
  line-height: 17px;
  width: 128px;
  color: #fff;
  float: left;
}

#user #status.gourmand {
  background: image_url('../assets/status/gourmand.png') top left no-repeat;
}


#user #dash_blocks {
  width: 580px;
}

#user #dash_blocks .dash_block {
  width: 280px;
  float: left;
  font-size: 13px;
}

#user #dash_blocks .dash_block h2 {
  font-size: 18px;
  margin-top: -10px;
}

#user #dash_blocks .dash_block h2 span {
  color: #df5b49;
}

#user #dash_blocks #upcoming_reservations.dash_block {
  line-height: 18px;
}

#user #dash_blocks #upcoming_reservations.dash_block a {
  font-weight: bold;
}

#user #dash_blocks #upcoming_reservations.dash_block small {
  color: #999;
  font-size: 10px;
  display: block;
  margin: 0 0 5px 0;
}

#user #dash_blocks #upcoming_reservations .reservation {
  border-bottom: 1px solid #f2f0ea;
  padding: 5px 0 10px 0;
}

#user #dash_blocks #upcoming_reservations .btns a {
  float: left;
  margin: 0 5px 0 0;
  width: auto;
  padding: 5px 8px;
  font-weight: normal;
}

#user #dash_blocks #my_reviews {
  margin-left: 20px;
}

#user #dash_blocks #my_reviews .rating {
  display: inline-block;
}

#user #dash_blocks #my_reviews .review small {
  font-size: 11px;
  color: #999;
}

#user #dash_blocks #my_reviews .review span {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
}

#user #dash_blocks #my_reviews .user_link {
  font-weight: bold;
}

#user #dash_blocks #my_reviews .read_more {
  font-size: 11px;
}

#user #dash_blocks #my_reviews .review {
  border-bottom: 1px solid #f2f0ea;
  padding: 5px 0 5px 0;
  margin-bottom: 0;
}








/********* INDEX *********/

#index #teaser {
  width: 620px;
  height: 350px;
  border-radius: 3px;
  margin-bottom: 20px;
}

#index #teaser .video_player {
  position: relative;
  width: 620px;
  height: 350px;
  background: image_url('../assets/video/dummy.jpg') no-repeat;
  border-radius: 3px;
  -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  box-shadow:         inset 0 0 5px rgba(0,0,0,0.3);
}

#index #teaser .video_player h5 {
  position: absolute;
  display: inline-block;
  font-size: 24px;
  color: #fff;
  background: rgba(0,0,0,0.6);
  padding: 5px 8px;
  margin: 0;
  top: 10px;
  left: 10px;
  line-height: 24px;
  border-radius: 3px;
}

#index #teaser .video_player .play {
  width: 100px;
  height: 100px;
  background: image_url('../assets/video/play.png') no-repeat;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#index #teaser .video_player .play:hover {
  opacity: 0.9;
}



#index #signup_promo {
  height: 350px;
  background: #fff;
  border-radius: 3px;
}

#index #signup_promo ul {
  display: block;
  margin: 10px 20px;
  padding: 0;
}

#index #signup_promo ul li {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding: 0 0 0 18px;
  display: block;
  background: image_url('../assets/check1.png') 0 2px no-repeat;
  line-height: 18px;
}

#index #signup_promo .btn1 {
  display: block;
  background: #79ad53;
  margin: 10px 20px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  color: #fff;
  font-size: 24px;
  border-radius: 3px;
  border: none;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

#index #signup_promo .btn1:hover {
  background: #df5b49;
}





#index #search_form {
  margin: 0 0 20px 0;
  padding: 10px;
}

#index #search_form label {
  margin-bottom: 0;
}

#index #search_form input[name='title_or_location'] {
  width: 270px;
  font-size: 24px;
  border-right: 0;
}



#promo_places {
  background: #fff image_url('../assets/line1.gif') bottom repeat-x;
  border-top: 1px solid #d9d8d4;
  margin: 30px 0 20px 0;
  padding: 0 0 15px 0;
}

#promo_places #promo_tabs {
  margin: -50px 0 0 0;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0 0 0;
}

#promo_places #promo_tabs li {
  margin: 0 20px 10px 0;
  padding: 0 0 20px 0;
  display: block;
  float: left;
}

#promo_places #promo_tabs li.active {
  background: image_url('../assets/active1.gif') bottom center no-repeat;
}

#promo_places #promo_tabs li.active a {
  color: #333;
  font-weight: normal;
  cursor: default;
  text-decoration: none;
}

#promo_places .place {
  width: 278px;
  float: left;
  border: 1px solid #d9d8d4;
  border-radius: 3px;
  margin: 0 20px 10px 0;
  padding: 10px;
}

#promo_places .place assets {
  background: #f2f0ea;
}

#promo_places .place .place_features {
  width: auto;
}

#promo_places .all {
  margin: 0;
}


.promo_block {
  background: #fff;
  border-radius: 3px;
  padding: 20px 10px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
}

#promo_block_sm {
  width: 280px;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-align: center;
}

#promo_block_big {
  width: 590px;
  font-size: 30px;
  padding-left: 20px;
  background: #fff image_url('../assets/gfx/2.jpg') top right no-repeat;
}

/********* FOOTER ********/

#footer {
  padding: 20px 0;
  background: #fff;
  border-top: 1px solid #cccbc7;
  font-size: 11px;
  color: #999;
  position: relative;
  z-index: 3;
  height: 45px;
}

#footer #footer_nav {
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 5px 0;
}

#footer #footer_nav li {
  margin: 0 10px 0 0;
}

#footer #footer_nav li a {
  color: #666;
}

#footer #footer_nav li a:hover {
  color: #df5b49;
}

#teaser {
	width: 620px;
	height: 350px;
	border-radius: 3px;
	margin-bottom: 20px;
}

#teaser .video_player {
	position: relative;
	width: 620px;
	height: 350px;
	background: url('../img/video/dummy.jpg') no-repeat;
	border-radius: 3px;
	-moz-box-shadow:    inset 0 0 5px rgba(0,0,0,0.3);
	   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	   box-shadow:         inset 0 0 5px rgba(0,0,0,0.3);
}

#teaser .video_player h5 {
	position: absolute;
	display: inline-block;
	font-size: 24px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	padding: 5px 8px;
	margin: 0;
	top: 10px;
	left: 10px;
	line-height: 24px;
	border-radius: 3px;
        z-index: 1;
}

#teaser .video_player .play {
	width: 100px;
	height: 100px;
	background: url('../img/video/play.png') no-repeat;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

#teaser .video_player .play:hover {
	opacity: 0.9;
}

#signup_promo {
	height: 350px;
	background: #fff;
	border-radius: 3px;
}

#signup_promo ul {
	display: block;
	margin: 10px 20px;
	padding: 0;
}

#signup_promo ul li {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding: 0 0 0 18px;
	display: block;
	background: url('../img/check1.png') 0 2px no-repeat;
	line-height: 18px;
}

#signup_promo .btn1 {
	display: block;
	background: #79ad53;
	margin: 10px 20px;
	font-family: 'univers_condensedmedium', 'Arial Narrow';
	color: #fff;
	font-size: 24px;
	border-radius: 3px;
	border: none;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
}

#signup_promo .btn1:hover {
	background: #df5b49;
}

#index #search_form {
	margin: 0 0 20px 0;
	padding: 10px;
}

#index #search_form label {
	margin-bottom: 0;
}

#index #search_form input[name='title_or_location'] {
	width: 270px;
	font-size: 24px;
	border-right: 0;
}




#promo_places {
	background: #fff url('/img/line1.gif') bottom repeat-x;
	border-top: 1px solid #d9d8d4;
	margin: 30px 0 20px 0;
	padding: 0 0 15px 0;
}

#promo_places #promo_tabs {
	margin: -50px 0 0 0;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0 0 0;
}

#promo_places #promo_tabs li {
	margin: 0 20px 10px 0;
	padding: 0 0 20px 0;
	display: block;
	float: left;
}

#promo_places #promo_tabs li.active {
	background: url('../img/active1.gif') bottom center no-repeat;
}

#promo_places #promo_tabs li.active a {
	color: #333;
	font-weight: normal;
	cursor: default;
	text-decoration: none;
}

#promo_places .place {
	width: 278px;
	float: left;
	border: 1px solid #d9d8d4;
	border-radius: 3px;
	margin: 0 20px 10px 0;
	padding: 10px;
}

.place img {
    border: medium none;
    float: left;
    height: 100px;
    margin: 0 10px 0 0;
    width: 140px;
}

#promo_places .place img {
	background: #f2f0ea;
}

#promo_places .place .place_features {
	width: auto;
}

#promo_places .all {
	margin: 0;
}

/******* USER INVITE ******/

#user .invite_left {
  float: left;
  margin: 0 10px 0 15px;
}

#user .invite_block {
  background: #f2f0ea;
  border: 1px solid #cccbc7;
  padding: 14px;
  border-radius: 3px;
  width: 240px;
}

#user .invite_block h4, #user #invite_friends h4 {
  font-size: 24px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
}

#user .invite_block input[type='text'] {
  border: 1px solid #cccbc7;
  box-shadow: none;
  width: 183px;
  float: left;
  border-radius: 3px 0 0 3px;
  border-right: none;
}

#user #share_a_link.invite_block {
  margin: 0 0 10px 0;
}

#user #share_a_link button {
  float: left;
  background: #df5b49;
  border: 0;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  font-size: 18px;
  height: 29px;
  width: 42px;
}

#user .invite_block textarea {
  width: 225px;
  height: 50px;
}

#user .invite_block input[type='submit'] {
  margin-top: 0;
}

#user .invite_block form {
  margin: 0;
}



#user #invite_friends {
  float: right;
  width: 455px;
  border: 1px solid #d2d1ce;
  padding: 3px;
  border-radius: 3px;
  position: relative;
}

#user #invite_friends h4 {
  margin: 3px;
  display: block;
  background: #f2f0ea;
  padding: 10px;
}

#user #invite_friends h4 a {
  padding: 0 0 0 30px;
  text-decoration: underline;
}

#user #invite_friends h4 a.active {
  color: #000;
  text-decoration: none;
  cursor: text;
}

#user #invite_friends h4 a.invite_fb {
  background: url('../img/icons7.gif') 3px 2px no-repeat;
}

#user #invite_friends h4 a.invite_vk {
  background: url('../img/icons7.gif') 3px -55px no-repeat;
}

#user #invite_friends input[type='submit'] {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#user #invite_friends form {
  margin: 0;
}

#user #invite_friends #friends_list {
  display: block;
  height: 280px;
  overflow-y: scroll;
  padding: 0 0 10px 0;
  color: #333;
}

#user #invite_friends #friends_list input[type='checkbox'] {
  margin-top: 15px;
}

#user #invite_friends #friends_list img {
  background: #f2f0ea;
  border-radius: 3px;
  margin: 0 5px 0 0;
  width: 40px;
  height: 40px;
}

#user #invite_friends #friends_list li {
  display: block;
  margin: 0 0 2px 3px;
  padding: 2px 0 2px 7px;
}

#user #invite_friends #friends_list .checked {
  background: #f2f0ea;
}

#user #invite_friends #friends_list .checked label {
  font-weight: bold;
}





















