@font-face{
  font-family: 'univers_condensedmedium';
  src: url('3947-WebFont.eot?#iefix') format('embedded-opentype'),
  url('front/13947-webfont.woff') format('woff'),
  url('front/13947-webfont.ttf') format('truetype');
}

.control-group label abbr {
  display: none;
}

#user_birthday_1i {
  width: auto !important;
}

#user_birthday_2i {
  width: auto !important;
}

#user_birthday_3i {
  width: auto !important;
}

body {
  background: #f2f0ea;
}

a, a:hover {
  color: #df5b49;
}

.content {
  width: 940px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}


/****** HEADER *******/

#fixed {
  background: #333;
  height: 25px;
  padding: 5px 0 0 0;
  font-size: 11px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#fixed ul {
  display: block;
  float: left;
  padding: 5px;
  margin: -5px 0 0 -5px;
  color: #ccc;
}

#fixed #language li {
  padding: 0 0 0 20px;
}

#fixed ul li {
  display: none;
}

#fixed ul li:hover a {
  color: #fff;
  text-decoration: none;
}

#fixed ul:hover {
  background: rgba(0,0,0,0.9);
}

#fixed ul:hover li {
  display: block;
}

#fixed ul li a {
  color: #ccc;
}

#fixed ul li.active {
  display: block;
  cursor: default;
}

#fixed ul li.active a {
  background: url('arr1.gif') right 5px no-repeat;
  padding: 0 10px 0 0;
  color: #fff;
}

#fixed #language #eng { background: url('language.png') 0 4px no-repeat; }
#fixed #language #rus { background: url('language.png') 0 -16px no-repeat; }
#fixed #language #ukr { background: url('language.png') 0 -38px no-repeat; }

#fixed #location { margin: -5px 0 0 10px; }

#fixed #header_links a {
  color: #ccc;
  float: left;
  margin: 0 0 0 15px;
}

#fixed #header_links a:hover {
  color: #fff;
}


#header {
  margin: 30px 0 20px 0;
  height: 69px;
  border-bottom: 1px solid #d2d1ce;
  background: #fff;
}

#header #logo {
  display: block;
  margin: 16px 0 0 0;
  float: left;
  width: 154px;
}

#header .by_topclub {
  font-size: 8px;
  color: #999;
  text-decoration: none;
  float: right;
  line-height: 8px;
  margin-top: 4px;
}

#header .few-words {
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  color: #666;
  font-size: 24px;
  float: right;
  margin-top: 30px;
}


#header .sign_in, #header .sign_up {
  float: right;
  margin: 16px 0 0 10px;
  font-weight: bold;
  font-size: 13px;
}

#header .sign_in {
  color: #666;
  padding: 5px 10px 7px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-decoration: none;
}

#header .sign_in:hover {
  color: #79ad53;
}

#header .sign_up {
  color: #fff;
  padding: 6px 11px 8px 11px;
  border-radius: 3px;
  text-decoration: none;
  background: #666;
}

#header .sign_up:hover {
  background: #79ad53;
}





/********** SIGN UP PAGE *********/

.heading {
  background: #dfdeda;
  border-radius: 3px;
  margin-bottom: -3px;
  padding: 10px 20px;
  position: relative;
  z-index: 2;
}

.heading h1 {
  color: #333;
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 24px;
  display: inline;
}

.page_content {
  background: #fff;
  border-radius: 0 0 3px 3px;
  padding: 10px 20px 20px 20px;
}

.page_content h2 {
  font-size: 24px;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  margin: 0 0 10px 0;
  padding: 0;
}

#sign_up_page select {
  width: 160px;
  margin-right: 5px;
}

#sign_up_page form {
  margin: 0;
}

#sign_up_page select[name='month'] { width: 120px; }
#sign_up_page select[name='day'] { width: 60px; }
#sign_up_page select[name='year'] { width: 80px; }

#sign_up_page input[type="text"] {
  font-size: 13px;
  color: #000;
  width: 150px;
  height: 18px;
  line-height: 13px;
  margin-right: 5px;
}

#sign_up_page label {
  width: 100px;
  float: left;
  line-height: 28px;
  font-size: 14px;
}

#sign_up_page label b {
  color: #df5b49;
}

#sign_up_page input[type='file'] {
  font-size: 11px;
}

#sign_up_page p {
  margin: 10px 0 15px 0;
  padding: 0;
  font-size: 13px;
}

#sign_up_page input[type='submit'] {
  background: #df5b49;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  color: #fff;
  font-size: 24px;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
}

#sign_up_page input[type='submit']:hover {
  background: #79ad53;
}


#social_login h3 {
  font-size: 24px;
  color: 333;
  margin: 0 0 15px 0;
  padding: 0;
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  line-height: 24px;
}

#social_login #fb_login, #social_login #vk_login, #social_login #tw_login, #social_login #gp_login {
  width: 220px;
  height: 37px;
  display: block;
  margin: 0 0 10px 0;
  background-image: url('social_login.png');
}

#vk_login { background-position: 0 -47px; }
#gp_login { background-position: 0 -94px; }
#tw_login { background-position: 0 -141px; }

#social_login a:hover {
  opacity: 0.9;
}



/********* FOOTER ********/

#footer {
  padding: 20px 0;
  background: #fff;
  border-top: 1px solid #cccbc7;
  font-size: 11px;
  color: #999;
  margin: 40px 0 0 0;
}

#footer #footer_nav {
  font-family: 'univers_condensedmedium', 'Arial Narrow';
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 5px 0;
}

#footer #footer_nav li {
  margin: 0 10px 0 0;
}

#footer #footer_nav li a {
  color: #666;
}

#footer #footer_nav li a:hover {
  color: #df5b49;
}
//form stuff
.one-liner {
  width: 150px;
  display: inline-block;
}
.one-liner + .one-liner {
  margin-left: 5px;
}

.control-group {
  width: auto;
  display: inline-block;
  input {
    width: 150px;
  }
}


















