.modif_btn {
  .back_middle {
    padding-left:4px;
    padding-right:4px;
    a {
      display:inline-block;
    }
  }
}

.btn_border {
  background: url("/assets/search_map/btn_border.png") no-repeat scroll 6px 0 transparent;
  float: left;
  height: 12px;
  margin-top: 12px;
  width: 7px;
}
.sidebar .modif_btn {
  float: left;
}

.places_nearby {
  .header_gray.black {
    height: 36px;
  }
  .title {
    width:223px;
    display: block;
    float:left;
  }
}

.logo_facil {
  float:left;
  background: url("/assets/search_map/check_in_big.png") 9px 11px no-repeat;
  width:25px;
  height: 35px;
}
.place_facil {
  float:left;
  font-size: 14px;
  color: #999999;
  padding-top:11px;
}

.modified_module {
  z-index:10;
  p {
  color: white;
  float: left;
  font-family: Georgia;
  font-size: 18px;
  padding-left: 11px;
  padding-top: 8px;
}
  .text_block {
    width:327px;
    float:left;
  }
  .buttons {
    float:none;
    & > .button_gray {
      float: left;
      margin-left: 5px;
      margin-top: 8px;
    }
  }

}
.search_map {
  height: 765px;
  .main_module {
    clear:both;

    .left_block {
      float:left;
      width:330px;
      height: 670px;
      overflow:hidden;
      background: white;
      -webkit-box-shadow: 7px 0px 7px rgba(192, 192, 192, 1);
      -moz-box-shadow:    7px 0px 7px rgba(192, 192, 192, 1);
      box-shadow:         7px 0px 7px rgba(192, 192, 192, 1);
      position:relative;
      z-index:10;
      behavior: url(assets/modules/PIE.htc);


      table {
        width:100%;
        height:100%;
        border-left:1px solid #ccc;
        tr{
          border-bottom:1px dotted #ccc;
        }
        td {
          height:95px;
          .adv_text {
            display: none;
          }
          a {
            font-size: 14px;
            color: #0086df;
          }
          h4 {
            font-size: 11px;
            color: #555555;
            font-weight: bold;
            padding: 5px 0;
          }
          .big_stars {
            display: inline-block;
          }
          .review_amnt {
            display: inline-block;
          }
          .addr {
            padding-top:3px;
          }
          .facil_options {
            display: inline-block;
            img {
              display: none;
              width:10px;
              height:10px;
              padding-left:5px;
              cursor:pointer;
            }
          }
        }
        tr:first-child {
          td {
            border-top:0px white solid;
          }
        }
        .image {
          /* width:100px; */
          padding-left:9px;
          .adv_text {
            padding-bottom: 5px;
            padding-top: 4px;
            color:#999999;
            font-size:10px;
          }
          img {
            width:98px;
            height: 73px;
          }

        }
        .text {
          vertical-align: top;
          padding-left:5px;
          padding-top:7px;
        }
        tr.advert {
          td {
            background: #fdf6e5 no-repeat;
            height:104px;
            vertical-align:top;
            a {
              font-weight: bold;
            }
            .adv_text {
              display: block;
            }

          }
          .text {
            padding-top:20px;
          }
        }
        tr.active {
           background:url("/assets/search_map/active_tr.png") no-repeat -4px -5px transparent;
          td {
            height:92px;
            .facil_options {
              img {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .right_block {
      float:left;
      /*width:950px; */
      height: 670px;
      /*background: url("/assets/search_map/map.png") no-repeat -330px 0px transparent; */
      .top_sort_menu {
        height:167px;
        background: rgba(0, 0, 0, 0.8);
        position: relative;
        z-index: 100;
       /* top:-679px;*/
        behavior: url(assets/modules/PIE.htc);
        .top_box_shadow {
          z-index: 1000;
          position: relative;
          width:100%;
          height: 15px;
          @include opacity(0.7);
        }
      }
      .collapse_btn {
        height: 14px;
        left: 50%;

        top:100%;
        position: relative;
        width: 47px;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        position: absolute;
        z-index: 10;
        background: #000;
        behavior: url(assets/modules/PIE.htc);
        @include opacity(0.8);
        .arrow_up {
          background: url("/assets/search_map/arrow_up.png") no-repeat scroll 0 0 transparent;
          height: 14px;
          left: 39%;
          position: relative;
          top: 22%;
          width: 47px;
        }
      }
    .sort_menu {
      padding-top:3px;
      .block {
        margin-left:20px;
        float:left;
        h3 {
          font-size: 12px;
          font-weight: bold;
          color:#ccc;
          padding-bottom:6px;
        }
        ul {
          li {
            border-bottom: 1px dotted #999999;
            width:142px;
            padding:0px 0px 7px 0px;

            .ez-checkbox {
              vertical-align: baseline;
              display: inline-block;
              margin-left:-2px;
            }

            label {
              color: white;
              display: inline-block;
              font-size: 11px;
              padding-top: 6px;
              padding-left:3px;
            }
            input {
               margin:0;
            }
          }
          li:first-child {
            border-top: 1px dotted #999999;
          }
        }
        .more {
          font-size: 10px;
          color: #999999;
          padding-top:5px;
          background: url("/assets/search_map/sm_arrow_down.png") no-repeat scroll 26px 10px transparent;
          height:10px;
          width:35px;
        }
      }
    }
      .map {
        position: relative;
        top:-167px;
        img {
          height: 670px;
        }

      }
    }
  }
}

.speech_module {
  left: 207px;
  position: absolute;
  top: 221px;

  .speech-bubble {
    background-color: #666666;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-family: Arial;
    font-size: 8px;
    padding: 3px 5px 3px;
    position: relative;
    text-align: center;
    position: relative;
    z-index: 10;
    behavior: url(/assets/modules/PIE.htc);
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 3px solid;
  }
  .speech-bubble-bottom:after {
    border-top-color: #666666;
    left: 47%;
    top: 100%;
  }
}


.check_in_active {
  background: url("/assets/search_map/check_in_active.png") no-repeat scroll 0 0 transparent;
}

.list_btn {
  background: url("/assets/search_map/list_btn.png") no-repeat scroll 0 0 transparent;
}
.gray_button.active {
  a {
    font-weight: bold;
    color:#EEE;
  }
}

.msie  {

  .search_map .main_module .left_block table tr.advert td {
    height: 83px;
  }
  .search_map .main_module .left_block table td {
    height: 87px;
  }
  .search_map .main_module .left_block table tr.active td {
    height: 84px;
  }

  .right_block {
    .top_sort_menu {
      background: #000;
      position: absolute;
      behavior: url(assets/modules/PIE.htc);
      @include opacity(0.8);
      img {
        display: none;
      }
      .sort_menu {
        padding-top:14px;
      }
      .collapse_btn {
        @include opacity(0.8);
      }
    }
  }
}
.webkit {
  .search_map .main_module .left_block table tr.advert td {
    height: 83px;
  }
.search_map .main_module .left_block table td {
  height: 87px;
}
.search_map .main_module .left_block table tr.active td {
  height: 84px;
}
  }
