.central_module.search-result{
  padding-top: 9px;

  .mainsearch{
    float:left;
    width: 620px;
  }
  .right_feed{
    float:left;
    width: 300px;
    margin-left: 20px;
    .buttom.green_button{
      margin-top: 8px;
    }
    .right_map{
      width: 300px;
      height: 267px;
    }
    .near_place{
      margin-top: 8px;
      .points_bottom{
        padding-bottom: 9px;
      }
      img{
        float:left;
      }
      .description{
        margin-left:1px;
        float: right;
        width:250px;
      }
      .text{
        padding-top: 7px;
      }
    }
  }


  /*#filtres*/
  #filtres{
    .choice{
      color:#333;
      font-size: 11px;
      margin: 11px 0 0;
      overflow: hidden;
      width:620px;
      .mainchoice{
        width:631px;
        li{
            display: inline-block;
            vertical-align: top;
          }
        }
      .col{
        margin:0 4px 0 9px;
        width: 140px;
        ul li{
          border-bottom: 1px dotted #CCCCCC;
          height:23px;
          display:block;
          span{
            left: -5px;
            margin: 0;
            position: relative;
            top: -1px;
          }
        }
        ul li.header{
          font-size: 12px;
          font-weight: bold;
          height: 18px;
          padding-top: 5px;
        }
        ul li.more{
          color:#999; 
          border-bottom:none;
          padding-top: 4px;
          span{
            margin-left: 5px;
            margin-top: 0;
            padding-right: 9px;
            position: relative;
            top: 2px;
            background:url(/assets/search/back_more.png) right 5px no-repeat;
          }
        }
        .ez-checkbox{
          left: -1px;
          margin: 0;
          position: relative;
          top: 2px;
        }
      }
    }
  }
  /*END #filtres*/
  /*#sort_by_block*/
  #sort_by_block{
    margin: 14px 0 0 10px;
    .top_button{
      .buttom_second{
        padding-right:4px;
        .direction{
          padding-right: 13px;
        }
      }
      .buttom_second.active{
        font-weight: bold;
      }
      .black_list{
        margin-left: -1px;
        margin-top: -2px;
        white-space: nowrap;
        /*****colection filtres******/
        .collection_filtres{
          padding-bottom: 10px;
          li{
            padding: 9px 16px 1px 23px;
            cursor:pointer;
            &.active{
              background:url(/assets/search/active_back_li.png) 8px 8px no-repeat;
            }
          }
        }
        .collection_filtres, .collection_filtres a{
          color:#ccc;
          font-size: 11px;
          font-weight: normal;
          .active{
            color:#fff;
          }
        }
        /*****colection filtres******/
      }
    }
  }
  /*end #sort_by_block*/

  .header_gray{ 
    height: 18px;
    .title{
      float:left;
    }
    .to_big_map{
      float:right;
    }
    .buttom_second.active{
      font-weight: bold;
    }
  }
  .sity_map{
    color:#999;
    font-size: 14px;
    float:left;
    margin:2px 0 0 0;
    padding:2px 0 2px 23px;
    background:  url(/assets/search/map_sity.png) no-repeat 8px 2px;
  }


  /*I will never do the work in pairs. I'm tired and want to relax*/
  #super_sort_show{
    margin-top: 12px;
    .show_result.reklama{
      background:#fdf6e5;
      border-bottom:none;
      .header_blue{
        font-weight: bold;
      }
      .reklama_text{
        color: #999999;
        font-size: 10px;
        height: 14px;
        padding: 0 0;
        position: relative;
        top: -4px;
      }
    }
    .show_result{
      border-bottom: 1px dotted #CCC;
      padding: 10px 0 8px 9px;
      .foto_result{
        float:left;
        img{
          width:98px;
          height:73px;
        }
      }
      .description{
        float:left;
        margin-left: 7px;
        margin-top: -2px;
        width: 299px;
      }
      .category{
        font-weight: bold;
        font-size: 11px;
        color:#555;
        margin-top: 5px;
      }
      .address{
        color:#999;
        font-size: 10px;
        margin-top: 4px;
      }
      .user_description{
        float:left;
        position:relative;

      }
      .review_result,.help{
        font-size: 10px;
        color:#999;
        margin-top: 5px;
      }
      .help{
        margin-top:4px;
      }
      .ffuu{
        position:absolute;
        left: 128px;
        position: absolute;
        top: -2px;
      }
      .user_result_fotos{
        margin:10px 0 0 1px;
        img{
          width:20px;
          height:20px;
          margin-right: 2px;
        }
      }
    }
  }
  #new_loader{
    position:relative;
    border-top:1px solid #d5d5d5;
    margin-top:16px;
    .gradient{
      height:89px;
      position:absolute;
      width:100%;
      top:-90px;
      background:url(/assets/search/grad_load.png) top left repeat-x;
    }
    .text_loader{
      font-size: 11px;
      color:#999;
      text-align: center;
      margin-top: 3px;
      img{
        position:relative;
        top:3px;
      }
    }
  }
}
