.central_module.search-result.cf
  .mainsearch
    #filtres
      .sidebar
        .header_gray.cf
          %span.title
            Бизнес ланч
          .sity_map
            Киев
          .buttom_second
            .back_left
              .back_right
                .back_center
                  %span Люди
          .buttom_second
            .back_left
              .back_right
                .back_center
                  %span Фоторепортажи
          .buttom_second
            .back_left
              .back_right
                .back_center
                  %span Новости
          .buttom_second
            .back_left
              .back_right
                .back_center
                  %span События
          .buttom_second.active
            .back_left
              .back_right
                .back_center
                  %span Места
      .choice
        %ul.mainchoice
          %li.col
            %ul
              %li.header Категория
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Рестораны
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Бары, пабы
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Суши-бары
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Пиццерии
              %li.more
                %span Еще
          %li.col
            %ul
              %li.header Кухня
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Европейская
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Украинская
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Восточная
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Кавказкая
              %li.more
                %span Еще
          %li.col
            %ul
              %li.header Средний чек
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Недорого ($)
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Не очень дорого ($$)
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Дорого ($$$)
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Очень дорого ($$$$) 
          %li.col
            %ul
              %li.header Расстояние
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Рядом (до 500 м.)
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Пройтись (1 км.)
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Проехать (5 км.)
              %li
                %label
                  %input{:type => 'checkbox'}
                  %span Далеко (10 км.)
    #sort_by_block.cf
      .top_button
        #sort_by.buttom_second.super_list.active
          .back_left
            .back_right
              .back_center
                .direction
                  %span Сортировать по
                  .black_list
                    .collection_filtres
                      %ul
                        %li.active  Рейтингу
                        %li.active  Количеству рецензий и подсказок
                        %li.active  Количеству чекинов
                        %li  Количеству упоминаний в списках
                        %li  Количеству лайков в социальных сетях
                        %li  Количеству добавлений в любимые места
        .buttom_second.super_list
          .back_left
            .back_right
              .back_center
                .direction
                  %span Показывать
                  .black_list

    #super_sort_show

      .show_result.cf.reklama
        .reklama_text
          Реклама
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}Cafe Театр
          .category
            Ресторан
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars0
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}

      .show_result.cf
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}b-hush
          .category
            Ресторан, ночной клуб
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars0
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
      .show_result.cf
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}Comme b-hush
          .category
            Ресторан
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars3
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
      .show_result.cf
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}Comme b-hush
          .category
            Ресторан
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars3
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
      .show_result.cf
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}Comme b-hush
          .category
            Ресторан
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars3
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
      .show_result.cf
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}Comme b-hush
          .category
            Ресторан
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars3
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
      .show_result.cf
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}Comme b-hush
          .category
            Ресторан
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars3
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
      .show_result.cf
        .foto_result
          %img{:src => '/assets/search_map/photo1.png'}
        .description
          .header_blue
            %a{:href => '#'}Comme b-hush
          .category
            Ресторан
          .address
            ул. Большая Житомирская, 2а
        .user_description.cf
          .big_stars.stars3
          %img.ffuu{:src => '/assets/ffuu.png'}
          .review_result
            2 рецензии
          .help
            139 подсказок
          .user_result_fotos
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
            %img{:src => '/assets/foto/anet.jpg'}
      #new_loader
        .gradient
        .text_loader.cf
          %img{:src => '/assets/search/loader.png'}
          %span Подождите, загружаю ещё...






  .right_feed
    .balack_map
      .sidebar
        .header_gray.black.img_b
          %span.title
            На карте
          .to_big_map
            %a{:href => '/search_map'} &nbsp;
      %img{:src => '/assets/foto/dinamic_map.jpg'}
    .sidebar.sidebar_stars.near_place
      .header_gray
        %span.title
          Рекомендуемые места
      .points_bottom.cf
        %img{:src => '/assets/foto/sidebar.jpg'}
        .description.cf
          .header_blue
            %a{:href => '#'}Mai Tai Lounge
          .numb_stars
            .small_stars.stars5
          .text
            ул. Больная Васильковая, 5 (2 км.)
      .points_bottom.cf
        %img{:src => '/assets/foto/sidebar.jpg'}
        .description.cf
          .header_blue
            %a{:href => '#'}Mai Tai Lounge
          .numb_stars
            .small_stars.stars5
          .text
            ул. Больная Васильковая, 5 (2 км.)
      .points_bottom.cf
        %img{:src => '/assets/foto/sidebar.jpg'}
        .description.cf
          .header_blue
            %a{:href => '#'}Mai Tai Lounge
          .numb_stars
            .small_stars.stars5
          .text
            ул. Больная Васильковая, 5 (2 км.)
      .points_bottom.cf
        %img{:src => '/assets/foto/sidebar.jpg'}
        .description.cf
          .header_blue
            %a{:href => '#'}Mai Tai Lounge
          .numb_stars
            .small_stars.stars5
          .text
            ул. Больная Васильковая, 5 (2 км.)
    .buttom.green_button
      .back_left
        .back_right
          .back_center 
            %a{:href => '#'} Настройте свои интересы
