.central_module.stream.blocks.cf
  .mainsteam.cf.narrow_floated
    .sidebar
      .header_gray.black.img_b
        %span.title
          Лента активности
        .gray_button.map
          .back_left
            .back_right
              .back_middle
                .pointer{:href => '#'}
        .gray_button.block
          .back_left
            .back_right
              .back_middle
                .pointer{:href => '#'}
        .gray_button.list.active
          .back_left
            .back_right
              .back_middle
                .pointer{:href => '#'}
    %div.nav
      %ul
        %li.feed.cf.active
          %span
          %a{:href => '#'} Лента активности
        %li.attains.cf
          %span
          %a{:href => '#'} Достижения
        %li.friends.cf
          %span
          %a{:href => '#'} Друзья
          .number
            .buttom
              .back_left
                .back_right
                  .back_center 10
        %li.interest.cf
          %span
          %a{:href => '#'} Интересы
        %li.plan.cf
          %span
          %a{:href => '#'} Планы
        %li.selection.cf
          %span
          %a{:href => '#'} Подборки
        %li.foto.cf
          %span
          %a{:href => '#'} Фото
        %li.history.cf
          %span
          %a{:href => '#'} История
        %li.elect.cf
          %span
          %a{:href => '#'} Избранное
        %li.add.cf
          %span
          %a{:href => '#'} Добавленное

    .feed_event_list
      .event.cf  
        .fotouser
          %img{:src => '/assets/foto/anet.jpg',:alt => 'Hello, this Anet ))',:title => 'Hello, this Anet ))'}
        .topic
          %table.head_date
            %tr
              %td
                .header 
                  Вечеринка <a href="#" class="name">Florian Kruse @ Mantra party bar</a>
              %td.second
                .i_go_number
                  .i_go
                    Пойду
                  .number
                    5
          .date 
            28 января, суббота
          .address
            .username Partybar Mantra
            ул. Бассейная, 2-а (2.5 км.)
          .usermesage.cf
            %table
              %tr
                %td
                  .fotomesage 
                    %img{:src => '/assets/foto/florian.jpg',:alt => 'foto'}
                    .goodAmap
                      .good 2
                      .small_map 5
                %td
                  .textuser
      .event.cf  
        .fotouser
          %img{:src => '/assets/foto/julian.jpg',:alt => 'Hello, this Juliana ))',:title => 'Hello, this Anet ))'}
        .topic
          %table.head_date
            %tr
              %td
                .header 
                  <a href="#" class="name">Juliana Osovska</a> нравится ресторан <a href="#" class="name">Aura</a>
              %td.second
                .big_stars.stars4
          .address
            ул. Бассейная, 2-а (2.5 км.)
          .usermesage.cf
            %table
              %tr
                %td
                  .fotomesage 
                    .goodAmap
                      .good 2
                      .small_map 5
                %td
                  .textuser
      .event.cf
        .fotouser
          %img{:src => '/assets/foto/anet.jpg',:alt => 'Hello, this Anet ))',:title => 'Hello, this Anet ))'}
        .topic
          %table.head_date
            %tr
              %td
                .header 
                  <a href="#" class="name">Anet</a> добавила рецензию о ресторане <a href="#" class="name">Напуле</a>
              %td.second
                .big_stars.stars1 
          .address
            ул. Бассейная, 2-а (2.5 км.)
          .usermesage.cf
            %table
              %tr
                %td
                  .fotomesage 
                    %img{:src => '/assets/foto/restoran.jpg',:alt => 'foto'}
                    .goodAmap
                      .good 2
                      .small_map 5
                %td
                  .textuser
                    Это наверное единственная достойная пиццерия в столице. Благодаря дровяной печи пиццы здесь просто вкуснейшие. Капрачо и карбонару тоже рекомендую!
      .event.cf  
        .fotouser
          %img{:src => '/assets/foto/anet.jpg',:alt => 'Hello, this Anet ))',:title => 'Hello, this Anet ))'}
        .topic
          %table.head_date
            %tr
              %td
                .header 
                  Вечеринка <a href="#" class="name">Florian Kruse @ Mantra party bar</a>
              %td.second
                .i_go_number
                  .i_go
                    Пойду
                  .number
                    5
          .date 
            28 января, суббота
          .address
            .username Partybar Mantra
            ул. Бассейная, 2-а (2.5 км.)
          .usermesage.cf
            %table
              %tr
                %td
                  .fotomesage 
                    %img{:src => '/assets/foto/florian.jpg',:alt => 'foto'}
                    .goodAmap
                      .good 2
                      .small_map 5
                %td
                  .textuser
      .event.cf  
        .fotouser
          %img{:src => '/assets/foto/julian.jpg',:alt => 'Hello, this Juliana ))',:title => 'Hello, this Anet ))'}
        .topic
          %table.head_date
            %tr
              %td
                .header 
                  <a href="#" class="name">Juliana Osovska</a> нравится ресторан <a href="#" class="name">Aura</a>
              %td.second
                .big_stars.stars4
          .address
            ул. Бассейная, 2-а (2.5 км.)
          .usermesage.cf
            %table
              %tr
                %td
                  .fotomesage 
                    .goodAmap
                      .good 2
                      .small_map 5
                %td
                  .textuser
      .event.cf
        .fotouser
          %img{:src => '/assets/foto/anet.jpg',:alt => 'Hello, this Anet ))',:title => 'Hello, this Anet ))'}
        .topic
          %table.head_date
            %tr
              %td
                .header 
                  <a href="#" class="name">Anet</a> добавила рецензию о ресторане <a href="#" class="name">Напуле</a>
              %td.second
                .big_stars.stars1 
          .address
            ул. Бассейная, 2-а (2.5 км.)
          .usermesage.cf
            %table
              %tr
                %td
                  .fotomesage 
                    %img{:src => '/assets/foto/restoran.jpg',:alt => 'foto'}
                    .goodAmap
                      .good 2
                      .small_map 5
                %td
                  .textuser
                    Это наверное единственная достойная пиццерия в столице. Благодаря дровяной печи пиццы здесь просто вкуснейшие. Капрачо и карбонару тоже рекомендую!
      .event_bottom.cf
        .invite_friends
          .ready Нечего почитать в ленте?
          Пригласите своих друзей из <a href="#">Facebook</a>,<br /> <a href="#">Вконтакте</a>, <a href="#">Google</a>, <a href="#">Twitter</a> и <a href="#">Mail.ru</a>  
        %a.invite{:href => '#'}
          %img{:src => '/assets/stream/invite.jpg',:alt => 'Пригласить друзей'}
    .feed_event_blocks.cf{:style => "display:none"}
      .column_feed
        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/type.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .i_go
                        Пойду
                      .number 5
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}
        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/girl.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .big_stars.stars1
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}
      .column_feed
        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/girl.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .big_stars.stars1
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}
        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/type.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .i_go
                        Пойду
                      .number 5
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}
      .column_feed
        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/type.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .i_go
                        Пойду
                      .number 5
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}

        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/girl.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .big_stars.stars1
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}
      .column_feed
        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/type.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .i_go
                        Пойду
                      .number 5
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}

        .activity_feed
          .bottom_line
            .border_one
              .border_two
                .desc_activity
                  %img.foto_feed{:src => '/assets/foto/girl.jpg',:alt => 'foto'}
                  .short
                    Вечеринка <a href="#" class="name"> Dj Phonique в Mantra party bar </a>
                  .date
                    11 февраля, суббота
                  .rating
                    .goodAmap
                      .good 2
                      .small_map 5
                    .i_go_number
                      .big_stars.stars1
                  .comment_user
                    .comm_border.place_event
                      .comments.place_event.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          .name
                            Partybar Mantra
                          .comment
                            ул. Бассейная, 2-а (2.5 км.)
                    .comm_border
                      .comments.cf
                        .avatar
                          %img{:src => '/assets/foto/mantra.jpg',:alt => 'foto'}
                        .mesage
                          %form
                            %input{:type => 'text',:value => 'Добавить комментарий...'}
      .loader_feed
        .loader_feed_text
          Подождите, я не знаю что мне делать...
  .right_feed
    .round{:style => 'width:300px;'}
      .sidebar
        .header_gray
          %span.title
            Вокруг
          .buttom_second
            .back_left
              .back_right
                .back_center 
                  %span Люди
          .buttom_second
            .back_left
              .back_right
                .back_center 
                  %span События
          .buttom_second
            .back_left
              .back_right
                .back_center 
                  %span Места
      %img{:src => '/assets/foto/dinamic_map.jpg'}
      - selections = {:header => {:title => "Подборки", :buttons =>{0 => {:name => "Пользователей",:link => "#", :class => ""}, 1 => {:name => "Редакции",:link => "#", :class => "active"}, } }, :body => { 0 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Лучшие места для спонтанного секса в Киеве", :link => "#" }, 1 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Подборка самых ярких мест для отдых на открытом воздухе во Львове ", :link => "#" }, 2 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "Город", :description => "Лучшие места для спонтанного секса в Киеве ", :link => "#" }, 3 => {:image_path => "/assets/foto/sidebar.jpg", :name => "Eugene Vasin", :date => "04.01.12", :type => "События", :description => "Лучшие места для спонтанного секса в Киеве ", :link => "#" } }, :footer => {:name => "Все подборки", :link =>"#"}}
      = render :partial => "review", :locals => selections