p
  = t('hello') + ' ' + @resource.email + '!'
p = t('message_reset')
p= link_to t('password_change_mesage'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :subdomain => @subdomain)
p = t('message_fraud')
p = t('message_wont_change')
