= f.input :login
= f.input :user_role_id
= f.input :trust_state
= f.input :first_name
= f.input :last_name
= f.input :patronymic
= f.input :phone
= f.input :address
= f.input :birthday
= f.input :account_id
= f.input :email
= f.input :encrypted_password
= f.input :reset_password_token
= f.input :reset_password_sent_at
= f.input :remember_created_at
= f.input :sign_in_count
= f.input :current_sign_in_at
= f.input :last_sign_in_at
= f.input :current_sign_in_ip
= f.input :last_sign_in_ip
= f.input :password_salt
= f.input :confirmation_token
= f.input :confirmed_at
= f.input :confirmation_sent_at
= f.input :unconfirmed_email
= f.input :failed_attempts
= f.input :unlock_token
= f.input :locked_at
= f.input :created_at
= f.input :updated_at
