<div class="promo_place {{css_class}}">
    <a href="{{place_url}}">
        <img height="165" src="{{image_path}}" width="300">
    </a>
    <div class="pp_desc">
        <h4>
            <a title="{{title}}" href="{{place_url}}">{{title}}</a>
            {{#discount}}
                <span class="discount_label">
                   {{discount}}%
                </span>
            {{/discount}}
        </h4>
        <div class="rating rating_big">
            <div class="stars">
                <div class="stars_overlay"></div>
                <div class="stars_bar" style="{{star_rating}}"></div>
                <div class="stars_bg"></div>
            </div>
            <small>
                <a href="#">{{review_count}}</a>
            </small>
        </div>
        <ul class="place_features">
            <li class="cuisine" title="{{kitchens}}">{{kitchens}}</li>
            <li class="pricing">{{avg_bill_title}}</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
{{#last}}
    <div class='clear non-movable'></div>
{{/last}}