.sidebar.tape_menu.cf
  .header_gray
    %span.title Рецензии
    .buttom_second.super_list
      .back_left
        .back_right
          .back_center
            .direction
              %a{:href => '#'} Новые
              .black_list
  - @reviews.first(4).each do |review|
    .points_bottom
      .foto
        %img{ src: review.user.photo, alt: 'foto', width: '43px', height: '30px' }
      .description
        .name= review.user.name
        -#.date= l review.created_at, format: :date_default
        -#.sity= review.kind
      = link_to review.place.name, '#', class: 'header_blue'
  .link_gray=link_to 'Все рецензии', '#'
