<div class="review" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
    <a href="#"><img src="" width="32" height="32" class="user_pic"></a>
    <div class="review_content">
        <a href="#" class="user_link"><span itemprop="author">Eugene V.</span></a>
        <meta itemprop="datePublished" content="2012-10-21">
        <small>Dined yesterday · <a href="#">#</a></small>

        <span itemprop="description">What a great find! I wanted to find a restaurant close to our hotel the first night we arrived in New York, so selected Wine 30 based on reviews and proximity.  </span>

        <span class="review_specials">
            Special offers: <a href="#">15% off all food and drinks</a>
        </span>

        <div class="review_vote">
            <a href="#" class="helpful">helpful <strong>2</strong></a>
            <a href="#" class="unhelpful">unhelpful <strong>0</strong></a>
        </div>
    </div>

    <div class="ratings">
        <div>
            <label><strong>Overall</strong></label>
            <div class="rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">

                <div class="stars">
                    <div class="stars_overlay"></div>
                    <div class="stars_bar"></div>
                    <div class="stars_bg"></div>
                </div>
                <meta itemprop="ratingValue" content="4.3">
            </div>
        </div>
        <div>
            <label>Food</label>
            <div class="rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">

                <div class="stars">
                    <div class="stars_overlay"></div>
                    <div class="stars_bar" style="left: 60%"></div>
                    <div class="stars_bg"></div>
                </div>
                <meta itemprop="ratingValue" content="4.3">
            </div>
        </div>
    </div>
</div>