.footer
  %table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
    %thead
      %tr
        %th{:style => 'font-weight:normal;'} &copy; 2010 - 2012 TOPClub
        %th.empty
        %th.proj О проекте
        %th.places Места
        %th.events События
        %th.photo Фото
        %th.mag Журнал
    %tbody
      %tr
        %td{:style =>'width: 246px;'}
          %p Весь мир развлечений. Лучшие ночные клубы, рестораны, театр, мода, выставки и путешествия. Афиши мероприятий. Использование материалов TOPClub разрешено только при наличии активной ссылки на источник. Все права на изображения и тексты принадлежат их авторам
        %td.empty
        %td.proj
          %a{:href => '#'} Информация о сайте
          %a{:href => '#'} Контактная информация
          %a{:href => '#'} Соглашение
        %td.places
          %a{:href => '#'} Ночные клубы
          %a{:href => '#'} Рестораны
          %a{:href => '#'} Кафе
          %a{:href => '#'} Пиццерии
          %a{:href => '#'} Кальян-бары
          %a{:href => '#'} Пабы
        %td.events
          %a{:href => '#'} Вечеринки
          %a{:href => '#'} Концерты
          %a{:href => '#'} Выставки
          %a{:href => '#'} Спектакли
          %a{:href => '#'} Фестивали
        %td.photo
          %a{:href => '#'} Fashion Week
          %a{:href => '#'} Вечеринки
          %a{:href => '#'} Концерты
          %a{:href => '#'} Презентации
        %td.mag
          %a{:href => '#'} Ночная жизнь
          %a{:href => '#'} Рестораны
          %a{:href => '#'} Кино и театр
          %a{:href => '#'} Музыка
          %a{:href => '#'} Дизайн&Арт
