.top_module
  .logo_grad
  .top_module_wrap
    .logo
      %a{:href => "/"}
        %img{:src =>'/assets/application/header/logo.png', :alt => ''}
    %form{:method => 'get', :action => places_path, :id =>'search_form'}
      .search_module
        .label_block
          %p
            Я ищу
            %span
              (завтрак, бар гостиницу)
          %p.pad
            Где
            %span
              (улица, район, город)
        .round_block
          .text
          .input
            %input.hdr{:type => 'text', name: 'what', value: (@what if @what.present?) }
            %input.hdr.second{:type => 'text', name: 'where', value: (@where if @where.present?) }
        .srch_btn Найти
    .user_module
      .ava
      .user_hello
        %p Привет,&nbsp;
        %span
          = current_user.name
        .user_arrow
      .num_frnds
        .digits 10
%nav
  .menu_wrap
    %ul.menu-list.g-clearfix
      - {:explorer => "Места", :events => "События", :photo => "Фото", :people => "Люди", :magazine => "Журнал", :gouurmand => "Gouurmand"}.each do |key, value|
        %li
          = link_to "#{value}", "/sandboxes/#{key}"
          - if value != "Gouurmand"
            .pin
