meta content="IE=8" http-equiv="X-UA-Compatible"
meta charset="utf-8"
title Topclub
/All css should be included via application.css.scss
= stylesheet_link_tag    "application", :media => "all"
= stylesheet_link_tag "front/tipsy.css"
= stylesheet_link_tag "front/bootstrap.min.css"

= stylesheet_link_tag "front/jquery.ui.theme.min.css"
= javascript_include_tag "application"
= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"

= csrf_meta_tags
= styx_initialize
= yield(:extra_head)
