<%= content_tag(:div, :class => "asset ill", :"data-id" => asset.id, :id => "asset_#{asset.id}") do %>
    <div id="user_pic_big">
      <img class="user_pic_big" height="128" src="<%= asset.data.try(:sidebar) %>" width="128">
      <a class="edit upload_avatar" href="#">
        <i class="icon-edit icon-white"></i>
        upload
      </a>
    </div>
<% end %>
