.asset.ill data-id=asset.id id="asset_#{asset.id}"
  #user_pic_big
    img.user_pic_big height="128" src="#{asset.data.try(:sidebar)}" width="128"
    a.edit.upload_avatar href="#"
      i.icon-edit.icon-white
      = I18n.t('uploader.upload')


